In [4]:
from sqlalchemy import create_engine

In [6]:
load_ext sql

In [8]:
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost

'Connected: dbuser@None'

# Select

In [19]:
df = %sql select * from lahmansbaseballdb.teams

 * mysql+pymysql://dbuser:***@localhost
2925 rows affected.

In [21]:
# import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4),
                    index = ['a','b','c','d','e','f','g','h'],
                      columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
df

          A         B         C         D
a  1.368076  0.122974  0.660938  0.133434
b -1.888605  3.366478 -0.693443 -0.657580
c  2.069797 -1.535415 -1.637574 -0.280622
d -0.379179 -0.243370  1.142517  0.532657
e -0.879079  1.467338  0.484273  0.439586
f -1.664568 -0.830620  0.142300  0.997308
g  0.174037 -1.182208  0.605559 -0.770747
h -0.071333  1.605889 -1.009403  0.276863

In [22]:
df

          A         B         C         D
a  1.368076  0.122974  0.660938  0.133434
b -1.888605  3.366478 -0.693443 -0.657580
c  2.069797 -1.535415 -1.637574 -0.280622
d -0.379179 -0.243370  1.142517  0.532657
e -0.879079  1.467338  0.484273  0.439586
f -1.664568 -0.830620  0.142300  0.997308
g  0.174037 -1.182208  0.605559 -0.770747
h -0.071333  1.605889 -1.009403  0.276863

In [23]:
df.loc['a']

A    1.368076
B    0.122974
C    0.660938
D    0.133434
Name: a, dtype: float64

In [24]:
df.loc['a']>0

A    True
B    True
C    True
D    True
Name: a, dtype: bool

In [35]:
df[(df['A']>0) | (df['B']>0)][['A','B']]

          A         B
a  1.368076  0.122974
b -1.888605  3.366478
c  2.069797 -1.535415
e -0.879079  1.467338
g  0.174037 -1.182208
h -0.071333  1.605889